* {
    padding: 0;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: lightskyblue;
}

.title-container {
    display: flex;
    padding: 0;
    margin: 0;
    padding-top: 1vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: royalblue;
    white-space: nowrap;
}

.title-text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 4px 4px blue;
    font-size: 2.5vw;
    padding-block: 0.5vh;
}

.date-text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 208, 0);
    text-shadow: 2px 2px black;
    font-size: 1.3vw;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

#qrLink {
    position: absolute;
    right: 2vw;
}

#qrIcon {
    width: 5.5vw;
    border-radius: 10px;
    /* TODO */
}

button {
    background-color: royalblue; /* Green */
    border: solid 2px rgb(0, 0, 255);
    border-radius: 10px;
    color: white;
    text-shadow: 0.1vw 0.1vw blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    outline: none;
    cursor: pointer;
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
}

.writer-container {
    display: flex;
    touch-action: none;
    overflow-x: scroll;
    position: relative;
    flex-basis: 60%;
    justify-content: flex-start;
    max-width: fit-content;
}


#writerMask {
    display: flex;
    touch-action: none;
    position: absolute;
}

.pen-options {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    flex-grow: 1;
    white-space: nowrap;
    width: 100%;
    align-items: center;

}

.pen-options button {
    padding-block: 2rem;
    margin-block: 2rem;
    width: 70%;
}

.page-options {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    flex-grow: 1;
    white-space: nowrap;
    width: 100%;
    align-items: center;
}

.page-options button {
    padding-block: 2.4rem;
    margin-bottom: 2rem;
    justify-content: space-around;
    width: 70%;
}

.controls-container {
    display: flex;
}

.reset-do-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-basis: 25%;
}

#resetButton {
    padding-block: 20px;
    margin-bottom: 25px;
    width: 55%;
}

.undo-redo-container {
    display: flex;
    justify-content: space-between;
}

.undo-redo-container button {
    margin-inline: 1vw;
    padding: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 40%;
    height: 20px;
    border-radius: 50px;
    border: 2px solid grey;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    border: 3px solid blue;
    background: royalblue;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 50x;
    height: 50px;
    border-radius: 50%; 
    background: royalblue;
    border: 3px solid blue;
    cursor: pointer;
}

.write-speed-container {
    z-index: 1;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#writeSpeedText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: blue;
    text-shadow: 1px 1px white;
    padding: 20px;
}

.colour-picker-container {
    display: flex;
    background-color: rgb(139, 161, 226);
    padding: 3px;
    border-radius: 10px;
    border: 3px solid blue;
}

.rewrite-container {
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    align-items: center;
}

#rewriteButton {
    padding-block: 10px;
    padding-inline: 3vw;
    white-space: nowrap;
    margin-bottom: 10px;
    background-color: darkblue;
    color: white;
    text-shadow: 2px 2px black;
    border: 3px solid white;
    font-size: 2vw;
    border-radius: 50px;
}

.checkboxes-container {
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    border-radius: 12px;
    padding-inline: 2vw;
}

.loop-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-block: 0.2vw;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: calc(12px + 0.2vw);
    text-shadow: 1px 1px white;   
    color: blue;
}

.loop-container input {
    margin-left: 20px;
}



.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

#footerTitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
}

.footer-banner {
  position: fixed;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;  
  pointer-events: all;
  border: solid 2px rgb(0, 0, 255);
  border-radius: 10px;
}


.footer-banner img {
    width: 20vh;
}

.footer-banner a {
  color: rgb(193, 186, 252);
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
}

.footer-banner span {
    align-self: center;
}

.footer-close {
  height: 100px;
  width: 200px;
  margin: 50px;
  padding: 5px 15px;
  font-size: 20px;
}

.footer-close:hover {
  color: grey;
}

.footer-hidden {
  display: none;
}
